:root{
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1em;
}

.main{
  padding: 24px 16px;
}

.notifications{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  & .title{
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 1.25em;/*20px*/
    word-spacing: 9px;
  }
  & .number{
    background-color: var(--Blue);
    color: var(--White);
    display: inline-block;
    width: 32px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
  }
  & .mark{
    color: var(--Dark-grayish-blue);
    font-size: 0.875em; /*14px*/
    font-weight: 500;
    cursor: pointer;
    &:hover{
      color: var(--Blue);
    }
  }  
}

.post{
  position: relative;
  background-color: var(--Very-light-grayish-blue);
  border-radius: 8px;
  display: flex;
  gap: 13px;
  min-width: 343px;
  padding: 16px;
  font-size: 0.875em; /*14px*/
  cursor: pointer;
  color: var(--Dark-grayish-blue);
  margin: 0 auto 10px;
  & .image{
    width: 39px;
    height: 39px;
  }
  & .name{
    font-weight: 700;
    color: var(--Very-dark-blue);
    &:hover{
      color: var(--Blue);
    }
  }
  & .reaction{
    font-weight: 700;
    &:hover{
      color: var(--Blue);
    }
  }
  & .time{
    color: var(--Grayish-blue);
    font-size: 0.875em;
    font-weight: 500;
  }
  & .group{
    color: var(--Blue);
    font-weight: bold;
  }
  & .message-container{
    border: 1px solid var(--Light-grayish-blue-2);
    border-radius: 5px;
    padding: 16px;
    margin-top: 12px;
    &:hover{
      background-color: var(--Light-grayish-blue-1);
    }
  }
  & .message{
    font-size: 0.875em;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
  }
  & .picture{
    width: 39px;
    height: 39px;
    position: absolute;
    right: 16px;
  }
  
}

.not-read{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: var(--Red);
}


.attribution {
  font-size: 0.6875em;
  text-align: center;
  margin-bottom: 46px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width: 768px) {
  .main {
    width: 730px;
    margin: 0 auto;
  }
  .post {
    font-size: 1em;
  }
}
